body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav li{
  color: white;
}

nav li a{
  display: block;
  margin: 15px;
  padding: 10px;
  background-color: rgb(8, 216, 164);
  border-radius: 5px;
  cursor: pointer;
}

nav li a:hover{
  opacity: .6;
}